/* CSS styling for shopping list */

/* Body styling */
body {
    background-image: url(http://www.clker.com/cliparts/H/t/l/u/V/y/women-shopping.svg);
    background-repeat: no-repeat;
    background-color: #bc8f8f;
    padding:0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif, cursive;
    color:#FA8072;
    
}
/*Main content style */
#container {
    width:500px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}
/* Title */
h1{
    font-size: 45px;
    color: #800000;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
/* Input text box */
#item{
    margin: 10px;
    padding: 10px;
    width: 450px;
    display: block;
}

#wrap {
    font-family: Helvetica, Arial, sans-serif, cursive;;
}
/* Check box style */
.box {
    margin-right: 60px;
}

ul {
    list-style-type:none;
    margin-right: 20px;
    text-align: left;    
}
/* Styling for checked items */
.checked {
    text-decoration:line-through;
    opacity: 0.4;        
}
/* Items being edited */
.editable {
    border: 1px solid black;
}
/* Buttons */*
 #add, #new{
    display: inline-block;
    background-color: #DB7093;
    color: white;
    font-weight: bold;
    border: 1px solid #DB7093;
    border-radius: 2px;
    margin: 10px;
    padding: 2px;
    height: 25px;
    width: 100px;
 }
